.camera-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam {
  border-radius: 10px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.capture-button,
.print-button {
  font-size: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.capture-button {
  background-color: #4caf50;
}

.print-button {
  background-color: #2196f3;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.contained {
  background-color: #4caf50;
  border: none;
  color: #fff;
}

.retake-btn {
  background-color: #d99a1d;
  font-size: 40px;
  margin-top: 20px;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: red;
  font-size: 200px;
  z-index: 999;
}


.loading-text{
  color: white;
}

video {
  transform: scaleX(-1); /* This will mirror the video stream */
}


.captured-image {
  width: 800px;
  padding: 20px;
  border-radius: 10%;
}